In [3]:
import math

Problem Statement 1: 
In each of the following situations, state whether it is a correctly stated hypothesis 
testing problem and why?
1. ùêª0: ùúá = 25, ùêª1: ùúá ‚â† 25
2. ùêª0: ùúé > 10, ùêª1: ùúé = 10
3. ùêª0: ùë•_mean = 50, ùêª1: ùë•_mean ‚â† 50
4. ùêª0: ùëù = 0.1, ùêª1: ùëù = 0.5
5. ùêª0: ùë† = 30, ùêª1: ùë† > 30

1. ùêª0: ùúá = 25, ùêª1: ùúá ‚â† 25
Two tailed hypothesis testing correctly stated. We are looking if ùúá lies in either sides of critical region to reject null hypothesis.

2. ùêª0: ùúé > 10, ùêª1: ùúé = 10
Here the hypothesis is not correctly stated. Null hypothesis is assuming grater than relation and alternate hypothesis is assuming equality. Less than condition is not covered.

3. ùêª0: ùë•_mean = 50, ùêª1: ùë•_mean ‚â† 50
Two tailed hypothesis testing correctly stated. We are looking if ùúá lies in either sides of critical region to reject null hypothesis.

4. ùêª0: ùëù = 0.1, ùêª1: ùëù = 0.5
Here the hypothesis is not correctly stated. Null hypothesis is assuming equality, but Alternate hypothesis is also assuming equality instead of inequality to cover all cases.

5. ùêª0: ùë† = 30, ùêª1: ùë† > 30
Incorrect hypothesis, Null hypothesis is assuming equality and Alternate hypothesis is assuming greater than relation. Less than condition not covered.

![title](z_table.png)

Problem Statement 2:
The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore‚Äôs claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.

NUll Hypothesis : mu = 52
Alternate Hypothesis = mu != 52
z = (x-mu)/(S/sqrt(n))

In [1]:
mu = 52
S = 4.50
n = 100
x = 52.80

In [3]:
z = (x-mu)/(S/math.sqrt(n))
z

1.7777777777777715

In [4]:
significance_level = 0.05

In [9]:
p_value = 1-(significance_level/2) # two tailed testing
p_value

0.975

z_critical = 1.96
Here -1.96(-z_critical) < 1.78(z) < 1.96(z_critical)
Accepted Null Hypothesis

Problem Statement 3:
A certain chemical pollutant in the Genesee River has been constant for several
years with mean Œº = 34 ppm (parts per million) and standard deviation œÉ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.

NUll Hypothesis : mu = 34
Alternate Hypothesis = mu != 34
z = (x-mu)/(S/sqrt(n))

In [10]:
mu = 34
S = 8
n = 50
x = 32.5

In [11]:
z = (x-mu)/(S/math.sqrt(n))
z

-1.3258252147247767

In [12]:
significance_level = 0.01

In [13]:
p_value = 1-(significance_level/2) # two tailed testing
p_value

0.995

z_critical = 2.576
Here -2.576(-z_critical) < -1.3258252147247767(z) < 2.576(z_critical)
Accepted Null Hypothesis

Problem Statement 4:
Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family‚Äôs dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association‚Äôs hypothesis.
1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994

NUll Hypothesis : mu = 1135
Alternate Hypothesis = mu != 1135
z = (x-mu)/(S/sqrt(n))

In [14]:
from scipy import stats
import numpy as np

In [15]:
np.mean([1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994])

1031.3181818181818

In [23]:
std = 0
for each in [1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994]:
    std += (each-1031.32)**2
math.sqrt(std/21)

240.37458593184255

In [24]:
mu = 1135
S = 240.37
n = 22
x = 1031.32

In [25]:
z = (x-mu)/(S/math.sqrt(n))
z

-2.023140599819002

In [26]:
significance_level = 0.05

In [27]:
p_value = 1-(significance_level/2) # two tailed testing
p_value

0.975

z_critical = 1.96
Here -1.96(-z_critical) > -2.023 (z)
Rejected Null Hypothesis

Problem Statement 5:
In a report prepared by the Economic Research Department of a major bank the
Department manager maintains that the average annual family income on Metropolis
is $48,432. What do you conclude about the validity of the report if a random sample
of 400 families shows and average income of $48,574 with a standard deviation of
2000?

NUll Hypothesis : mu = 48,432
Alternate Hypothesis : mu != 48,432
z = (x-mu)/(S/sqrt(n))

In [29]:
mu = 48432
S = 2000
n = 400
x = 48574

In [30]:
z = (x-mu)/(S/math.sqrt(n))
z

1.42

In [36]:
(1-0.9222)*2 # P-value for z = 1.42 is 0.9222, Fror which signoficance level is:

0.15559999999999996

For significance level less than 15.5 % Null Hypothesis can be accepted.

Problem Statement 6:
Suppose that in past years the average price per square foot for warehouses in the
United States has been $32.28. A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is $31.67, with a standard deviation of $1.29. assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5% level of significance, what statistical conclusion can be
reached? What are the hypotheses?

NUll Hypothesis : mu = 32.28
Alternate Hypothesis : mu != 31.67
z = (x-mu)/(S/sqrt(n))

In [1]:
mu = 32.28
S = 1.29
n = 19
x = 31.67

In [4]:
z = (x-mu)/(S/math.sqrt(n))
z

-2.06118477175179

In [8]:
# For Significance level 5%
significance_level = 0.05

In [9]:
p_value = 1-(significance_level/2) # two tailed testing
p_value

0.975

z_critical = 1.96
Here -1.96(-z_critical) > -2.0611 (z)
Rejected Null Hypothesis

An alpha level is the probability of a type I error, or you reject the null hypothesis when it is true. A related term, beta, is the opposite; the probability of rejecting the alternate hypothesis when it is true.

Problem Statement 7:
Fill in the blank spaces in the table and draw your conclusions from it. Consider standard deviation as 2.5

Acceptance region     Sample size     alpha     beta at mu = 52      beta at mu = 50.5
48.5 < x < 51.5            10         0.0574        0.2643               0.8923
48 < x < 52                10         0.0114        0.5000               0.9705
48.81 < x < 51.9           16         
48.42 < x < 51.58          16

# Acceptance region     Sample size     alpha     beta at mu = 52      beta at mu = 50.5
# 48.5 < x < 51.5

In [1]:
mu = 50
S = 2.5
n = 10
x_one, x_two = 48.5, 51.5

In [6]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-1.8973665961010278

In [7]:
z = (x_two-mu)/(S/math.sqrt(n))
z

1.8973665961010278

In [9]:
# alpha = P(Z < -1.90) + P(Z > 1.90)
(1-0.9713)+(1-0.9713)

0.057399999999999896

In [15]:
mu = 52
S = 2.5
n = 10
x_one, x_two = 48.5, 51.5

In [16]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-4.427188724235731

In [17]:
z = (x_two-mu)/(S/math.sqrt(n))
z

-0.6324555320336759

In [22]:
# beta = P(-4.43 <= Z <= -0.63) = P(Z <= -0.63) - P(Z <= -4.43)
(1-0.7357) - 0.0000

0.2643

In [23]:
mu = 50.5
S = 2.5
n = 10
x_one, x_two = 48.5, 51.5

In [24]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-2.5298221281347035

In [25]:
z = (x_two-mu)/(S/math.sqrt(n))
z

1.2649110640673518

In [27]:
# beta = P(-2.530 <= Z <= 1.265) = P(Z <= 1.265) - P(Z <= -2.530)
0.8980-0.0057

0.8923

# Acceptance region     Sample size     alpha     beta at mu = 52      beta at mu = 50.5
# 48 < x < 52

In [28]:
mu = 50
S = 2.5
n = 10
x_one, x_two = 48, 52

In [29]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-2.5298221281347035

In [30]:
z = (x_two-mu)/(S/math.sqrt(n))
z

2.5298221281347035

In [32]:
# alpha = P(Z < -2.53) + P(Z > 2.53)
(1-0.9943)+(1-0.9943)

0.011400000000000077

In [37]:
mu = 52
S = 2.5
n = 10
x_one, x_two = 48, 52

In [38]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-5.059644256269407

In [39]:
z = (x_two-mu)/(S/math.sqrt(n))
z

0.0

In [42]:
# beta = P(-4.427 <= Z <= -0.632) =  P(Z <= 0.0) - P(Z <= -5.059)
0.5000 - 0

0.5

In [43]:
mu = 50.5
S = 2.5
n = 10
x_one, x_two = 48, 52

In [44]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-3.1622776601683795

In [45]:
z = (x_two-mu)/(S/math.sqrt(n))
z

1.8973665961010278

In [46]:
# beta = P(-3.162 <= Z <= 1.897) =  P(Z <= 1.897) - P(Z <= -3.162)
0.9713 - (1-0.9992)

0.9705

#  Acceptance region     Sample size     alpha     beta at mu = 52      beta at mu = 50.5
# 48.81 < x < 51.9

In [79]:
mu = 50
S = 2.5
n = 16
x_one, x_two = 48.42, 51.58

In [80]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-2.5279999999999974

In [81]:
z = (x_two-mu)/(S/math.sqrt(n))
z

2.5279999999999974

In [82]:
# alpha = P(Z < -2.53) + P(Z > 2.53)
(1-0.9943)+(1-0.9943)

0.011400000000000077

In [83]:
mu = 52
S = 2.5
n = 16
x_one, x_two = 48.42, 51.58

In [84]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-5.727999999999997

In [85]:
z = (x_two-mu)/(S/math.sqrt(n))
z

-0.6720000000000027

In [87]:
# beta = P(-5.73 <= Z <= -0.67) =  P(Z <= -0.67) - P(Z <= -5.73)
0.2514 - 0

0.2514

In [88]:
mu = 50.5
S = 2.5
n = 16
x_one, x_two = 48.42, 51.58

In [89]:
z = (x_one-mu)/(S/math.sqrt(n))
z

-3.327999999999997

In [90]:
z = (x_two-mu)/(S/math.sqrt(n))
z

1.7279999999999973

In [78]:
# beta = P(-3.33 <= Z <= 1.73) =  P(Z <= 1.73) - P(Z <= -3.33)
0.8643 - (0.0035)

0.8608

In [91]:
0.9582-0.0004

0.9578000000000001

Problem Statement 8:
Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5.

In [110]:
n = 16
mu = 10
S = 1.5
x = 12
freedoms = 15

In [111]:
t = (x-mu)/(S/math.sqrt(n))
t

5.333333333333333

Probability: P(T < 5.333) = 1.0000

Problem Statement 9:
Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.

In [101]:
freedoms = 15

In [102]:
alpha = 1-0.99
alpha

0.010000000000000009

t alpha 0.01 and 15 freedoms is 2.602

Problem Statement 10:
If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that P(‚àíùë°0.05 <ùë°<ùë°0.10).

In [105]:
n = 25
freedom = 24
mu = 60
S = 4

P(T<=t) = 0.975 ---> t = 2.064
P(T<=t) = 0.025 ---> t = -2.064

-2.064 <= t <= 2.064

In [112]:
# P(‚àíùë°0.05 < ùë° < ùë°0.10) with freedoms = 24
0.5394 - 0.4803

0.059099999999999986

Problem Statement 11:
Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:
Population 1: Bangalore to Chennai n1 = 1200
x1 = 452
s1 = 212
Population 2: Bangalore to Hosur n2 = 800
x2 = 523
s2 = 185
alpha = 5%

In [2]:
n_one = 1200
x_one = 452
s_one = 212
n_two = 800
x_two = 523
s_two = 185

In [5]:
Z = (x_one - x_two)/(math.sqrt((s_one**2/n_one)+(s_two**2/n_two)))
Z

-7.926428526759299

For two-tail test alpha/2 = 0.025
Z(0.025) = 1.96
Z < -1.96 ---> Null Hypothesis is rejected

Problem Statement 12:
Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:
Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67

In [6]:
n_one = 100
x_one = 308
s_one = 84
n_two = 100
x_two = 254
s_two = 67

In [7]:
Z = (x_one - x_two)/(math.sqrt((s_one**2/n_one)+(s_two**2/n_two)))
Z

5.025702668336442

For two-tail test alpha/2 = 0.025
Z(0.025) = 1.96
Z > 1.96 ---> Null Hypothesis is Rejected

Problem Statement 13:
Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?
Population 1: Price of sugar = Rs. 27.50 n1 = 14
x1 = 0.317%
s1 = 0.12%
Population 2: Price of sugar = Rs. 20.00 n2 = 9
x2 = 0.21%
s2 = 0.11%

In [7]:
n_one = 14
x_one = 0.317
s_one = 0.12
n_two = 9
x_two = 0.21
s_two = 0.11

In [8]:
t = (x_one - x_two)/math.sqrt(((((s_one**2)*(n_one-1))+((s_two**2)*(n_two-1)))/(n_one+n_two-2))*((1/n_one)+(1/n_two)))
t

2.15355322387416

t(0.025) is 2.0796 at 21 df
t > t(0.025) Null hypothesis rejected

Problem Statement 14:
The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?
Population 1: Before reduction
n1 = 15
x1 = Rs. 6598 s1 = Rs. 844
Population 2: After reduction n2 = 12
x2 = RS. 6870
s2 = Rs. 669

In [9]:
n_one = 15
x_one = 6598
s_one = 844
n_two = 12
x_two = 6870
s_two =669

In [10]:
t = (x_one - x_two)/math.sqrt(((((s_one**2)*(n_one-1))+((s_two**2)*(n_two-1)))/(n_one+n_two-2))*((1/n_one)+(1/n_two)))
t

-0.9098300343990461

For 95% confidence level
t(0.025) is 2.056 at 26 df
t > -2.056 Null hypothesis accepted

Problem Statement 15:
Comparisons of two population proportions when the hypothesized difference is zero
Carry out a two-tailed test of the equality of banks‚Äô share of the car loan market in
1980 and 1995.
Population 1: 1980
n1 = 1000
x1 = 53
ùëù 1 = 0.53
Population 2: 1985
n2 = 100
x2 = 43
ùëù 2= 0.53

In [22]:
n1 = 100
x1 = 53
ùëù1 = 0.53
n2 = 100
x2 = 43
ùëù2= 0.43

In [23]:
p = (x1 + x2)/(n1 + n2)
p

0.48

In [24]:
z = (p1-p2)/(math.sqrt(p*(1-p)*((1/n1)+(1/n2))))
z

1.4153462926807452

For 95% confidence level
z(0.025) is 1.96
z < 1.96 Null hypothesis accepted

Problem Statement 16:
Carry out a one-tailed test to determine whether the population proportion of
traveler‚Äôs check buyers who buy at least $2500 in checks when sweepstakes prizes
are offered as at least 10% higher than the proportion of such buyers when no
sweepstakes are on.
Population 1: With sweepstakes
n1 = 300
x1 = 120
ùëù = 0.40
Population 2: No sweepstakes n2 = 700
x2 = 140
ùëù 2= 0.20

In [29]:
n1 = 300
x1 = 120
ùëù1 = 0.40
n2 = 700
x2 = 140
ùëù2= 0.20

In [34]:
z = ((p1-p2)-0.1)/(math.sqrt((p1*(1-p1)*(1/n1))+((p2*(1-p2))*(1/n2))))
z

3.1180478223116177

For 95% confidence level
z(0.025) is 1.96
z > 1.96 Null hypothesis rejected

Problem Statement 17:
A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as ùëù ‚àí 1.

In [38]:
Expected_frequency = 132/6
Expected_frequency

22.0

In [50]:
sum = 0
for i in [16, 20, 25, 14, 29, 28]:
    sum += (i-22)**2
chi_square = sum/22
chi_square

9.0

For degrees of freedom 5, alpha = 0.05
critical value is 11.0705
chi_square < critical value , Null hypothesis Accepted and the die is unbiased.

Problem Statement 18:
In a certain town, there are about one million eligible voters. A simple random
sample of 10,000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:

                     men        women     total
voted                2792        3591     6383
not-voted            1486        2131     3617
total                3278        5722     10000

We would want to check whether being a man or a woman (columns) is independent of
having voted in the last election (rows). In other words, is ‚Äúgender and voting independent‚Äù?

Expected men to vote = total voted*(men/total people)
Expected women to vote = total voted*(women/total people)
Expected men not to vote = total not voted*(men/total people)
Expected women not to vote = total not voted*(women/total people)

Expected table
                     men        women     total
voted                2731        3652     6383
not-voted            1547        2070     3617
total                3278        5722     10000

In [51]:
chi_squared = ((2792-2731)**2)/2731 + ((3652-3591)**2)/3652 + ((1486-1547)**2)/1547 + ((2131-2070)**2)/2070
chi_squared

6.584283456757529

In [52]:
degrees_of_freedom = (2-1)*(2-1)
degrees_of_freedom

1

Critical value for alpha 0.05 for degree of freedom 1 is 3.8415.
chi_squared > critical value. Hypothesis rejected, gender and voting are independent.

Problem Statement 19:
A sample of 100 voters are asked which of four candidates they would vote for in an
election. The number supporting each candidate is given below:

Higgins       Reardon        White       Charlton
   41           19             24           16

Do the data suggest that all candidates are equally popular? [Chi-Square = 14.96,
with 3 df, ùëù < 0.05.

In [53]:
chi_squared = ((41-25)**2)/25 + ((19-25)**2)/25 + ((24-25)**2)/25 + ((16-25)**2)/25
chi_squared

14.959999999999999

with 3 df, ùëù < 0.05, critical value is 7.8147
chi_squared > critical value. Null hypothesis rejected, voters do not prefer the four candidates equally.

Problem Statement 20:
Children of three ages are asked to indicate their preference for three photographs of 
adults. Do the data suggest that there is a significant relationship between age and 
photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4 
df: ùëù < 0.05].

                    Population
Age of child        A             B            C        total
    5-6             18            22           20        60
    6-7             2             28           40        70
    7-8             20            10           40        70
   Total            40            60           100       200

Expected table      Population
Age of child        A             B            C        total
    5-6             12            18           30        60
    6-7             14            21           35        70
    7-8             14            21           35        70
   Total            40            60           100       200

In [2]:
chi_squared = ((18-12)**2)/12 + ((22-18)**2)/18 + ((20-30)**2)/30 + ((2-14)**2)/14 + ((28-21)**2)/21 + ((40-35)**2)/35 + ((20-14)**2)/14 + ((10-21)**2)/21 + ((40-35)**2)/35
chi_squared

29.603174603174608

In [4]:
Freedoms = (3-1)*(3-1)
Freedoms

4

critical value is 13.28 for alpha is 0.01 and freedoms is 4
chi_squared > critical value. Null Hypothesis rejected, we have a Chi-Square value which is so large that it would occur by chance only about once in a thousand times. It seems more reasonable to accept the alternative hypothesis, that there is a significant relationship between age of child and photograph preference.

In [ ]:
Problem Statement 21: 
A study of conformity using the Asch paradigm involved two conditions: one where 
one confederate supported the true judgement and another where no confederate 
gave the correct response.

                     Support        No Support    Total
Conform                 18               40         58
Not Conform             32               10         42
Total                   50               50         100

Is there a significant difference between the "support" and "no support" conditions in the 
frequency with which individuals are likely to conform? [Chi-Square = 19.87, with 1 df:
ùëù < 0.05]

In [ ]:
                     Support        No Support    Total
Conform                 29               29         58
Not Conform             21               21         42
Total                   50               50         100

In [5]:
chi_squared = ((18-29)**2)/29 + ((40-29)**2)/29 + ((21-32)**2)/21 + ((21-10)**2)/21
chi_squared

19.868637110016422

In [7]:
Freedoms = (2-1)*(2-1)
Freedoms

1

Critical value for alpha 0.05 for degree of freedom 1 is 3.8415.
chi_squared > critical value. Hypothesis rejected, Support and conform are independent. There is a significant difference between the "support" and "no support" conditions.

We want to test whether short people differ with respect to their leadership qualities 
(Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget 
MP's are there?) The following table shows the frequencies with which 43 short people and 
52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a 
relationship between height and leadership qualities? 
[Chi-Square = 10.71, with 2 df: ùëù < 0.01].

                       short        Tall     Total
Leader                  12           32        44
Follower                22           14        36
Unclassifiable          9            6         15
Total                   43           52        95

Expected Table         short        Tall     Total
Leader                  19.92       24.08      44
Follower                16.29       19.71      36
Unclassifiable          6.79        8.21       15
Total                   43          52         80

In [11]:
Chi_squared = ((12-19.92)**2)/19.92 + ((32-24.08)**2)/24.08 + ((22-16.29)**2)/16.29 + ((14-19.71)**2)/19.71 + ((9-6.79)**2)/6.79 + ((6-8.21)**2)/8.21
Chi_squared

10.72370708083587

In [13]:
freedoms = (3-1)*(2-1)
freedoms

2

Critical value for alpha 0.01 for degree of freedom 2 is 9.21.
chi_squared > critical value. Hypothesis rejected, there seems to be a relationship between height and leadership qualities.

Problem Statement 23: 
Each respondent in the Current Population Survey of March 1993 was classified as 
employed, unemployed, or outside the labor force. The results for men in California age 35-
44 can be cross-tabulated by marital status, as follows:

                Married     SingleNow   NeverMarried   Total 
Employed           679         103         114          896
Unemployed         63          10           20           93
Not labor          42          18           25           85
Total             784          131         159         1074

Men of different marital status seem to have different distributions of labor force status. Or is 
this just chance variation? (you may assume the table results from a simple random 
sample.)

Expected Table   Married     SingleNow   NeverMarried   Total  
Employed           654.06     109.29         132.65      896
Unemployed         63          10             20          93
Not labor          62.05      10.37         12.58         85
Total             784          131         159         1074

In [15]:
Chi_Sqaured = (679 - 654.063315)**2 / 654.063315 + (103 - 109.288641)**2 / 109.288641 + (114 - 132.648045)**2 / 132.648045 + (63 - 67.888268)**2 / 67.888268 + (10 - 11.343575)**2 / 11.343575 + (20 - 13.768156)**2 / 13.768156 + (42 - 62.048417)**2 / 62.048417 + (18 - 10.367784)**2 / 10.367784 + (25 - 12.583799)**2 / 12.583799
Chi_Sqaured

31.613103206011402

In [16]:
Degree_of_Freedom = (3 - 1)*(3 - 1)
Degree_of_Freedom

4

Critical Value For alpha 0.05 and 4 degrees of freedom is 9.487729
Chi_squared > Critical value. Reject Null Hypothesis. There is a relation between rows and columns